.sc-bd{
  margin: 60px auto;
  max-width: 1200px;
}
.navbar-brand{
  font-weight: bold;
  font-size: 22px;
  padding-left: 0;
}
.sc-bd .panel-body{
  padding: 50px 20px;
}
.nav-wrap{
  width: 1200px;
  margin: 0 auto;
}
.nav-wrap .navbar-nav{
  margin-left: 100px;
}
.cp{
  text-align: center;
  line-height: 80px;
  height: 80px;
  margin-top: 80px;
  border-top: 1px solid #f1f1f1;
  color: #777;
  /* background-color: #f8f8f8; */
}
.cp a{
  color: #777;
}